* {
    font-family: "Inter Tight", sans-serif;

}

main>div {
    margin-top: 150px;
}

img {
    width: 100%;
    max-width: 100%;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.top-nav-container {
    display: block;
    position: relative;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.top-nav-container ,hr, body {
    background-color: #FFFFF9;
}


.logo-white {
    display: block;
    width: 270px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 600px;
    box-sizing: border-box;
}

.booking-steps {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.booking-steps .step {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #f8f8f8;
    color: #888;
}

.booking-steps .step.active {
    background: #333;
    color: #fff;
    font-weight: 500;
}

.stay-info {
    margin: 20px auto;
    text-align: center;
    max-width: 620px;
    background: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stay-info p {
    margin-bottom: 10px;
}

.stay-info ul {
    margin-left: 20px;
    list-style: disc;
}

.stay-info a:hover {
    color: #CDB38B;
}

.include-info {
    text-align: center;
    margin-top: 10px;
}

#info-title {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    color: #CDB38B;
    font-size: 15px;
}

.room-selection {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.room-card {
    display: flex;
    height: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    overflow: hidden;
}

.room-card img {
    width: 40%;
    height: 400px;
    object-fit: cover;
}

.room-card .amenities-icon {
    width: 20px;
    height: 20px;
}

.room-card .price-detail {
    position: relative;
    left: 450px;
    bottom: 20px;
}

.room-card ul {
    color: #828282;
}

.room-details {
    padding: 20px;
    width: 60%;
}

.room-details h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.room-details ul {
    margin: 10px 0;
    list-style: none;
    padding-left: 0;
}

.room-details ul li {
    margin-bottom: 5px;
}

.price {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}

.btn {
    background: #CDB38B;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn:hover {
    background: #333;
    color: #fff;
}

.filter-container {
    margin-bottom: 20px;
    font-size: 16px;
    margin-left: 950px;
}

.filter-container select{
    background: none;
}

#price-filter {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
