* {
    font-family: "Inter Tight", sans-serif;

}

main>div {
    margin-top: 150px;
}

img {
    width: 100%;
    max-width: 100%;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.top-nav-container {
    display: block;
    position: relative;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.top-nav-container ,hr, body {
    background-color: #FFFFF9;
}


.logo-white {
    display: block;
    width: 270px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 600px;
    box-sizing: border-box;
}

.booking-steps {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.booking-steps .step {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #f8f8f8;
    color: #888;
}

.booking-steps .step.active {
    background: #333;
    color: #fff;
    font-weight: 500;
}

.stay-info {
    margin: 20px auto;
    text-align: center;
    max-width: 620px;
    background: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stay-info p {
    margin-bottom: 10px;
}

.stay-info ul {
    margin-left: 20px;
    list-style: disc;
}

.stay-info a:hover {
    color: #CDB38B;
}

